In [1]:
x = [1,2,3,4,5]

In [2]:
x

[1, 2, 3, 4, 5]

In [4]:
x = 3+5
print(x)

8

In [2]:
x =1
if x>3:
    print("case1")
else:
    print("case2")

case2

# FUNCTIONS STD FORMAT

In [ ]:
# def simple():   
    print("my first function")

In [4]:
simple()

my first function

In [7]:
def plus_ten(a):
    return a + 10

In [9]:
plus_ten(5)

15

In [13]:
def plus_ten(b): #FUNCTION DEFF WITH MULTIPLE VARIALBLE
    result = b + 10
    return result

In [12]:
plus_ten(2)

12

In [14]:
#PRINT VS RETURN - PRINT JUST VISUALZIES THE O/P WHERE AS RETURN GIVES BACK WHAT A FUNCTION IS SUPPOSED TO  GIVE

In [16]:
def wage(w_hours):                 #function within a function
    return w_hours*25
def with_bonus(w_hours):
    return wage(w_hours) + 50

In [17]:
wage(10), with_bonus(10)

(250, 300)

In [18]:
def add_10(m):          #Functions with conditional statements within itself
    if m>=100:
        m = m+10
        return m
    else:
        return "save more"

In [19]:
add_10(50)

'save more'

In [20]:
participants = ['john','aditya','babli','thukaniyo'] #LISTS
participants

['john', 'aditya', 'babli', 'thukaniyo']

In [21]:
print (participants[1])

aditya

In [22]:
participants[-1]

'thukaniyo'

In [23]:
participants[3] = 'Babydoll'
participants

['john', 'aditya', 'babli', 'Babydoll']

In [24]:
participants.append("Dwayne")  #Appending a list
participants

['john', 'aditya', 'babli', 'Babydoll', 'Dwayne']

In [25]:
 participants[1:3]

['aditya', 'babli']

In [27]:
#you can also create a list of list

In [28]:
another_list = ['leila','gandu']

In [29]:
bigger_list = [participants,another_list]
bigger_list

[['john', 'aditya', 'babli', 'Babydoll', 'Dwayne'], ['leila', 'gandu']]

In [30]:
#sort the name in alphabetical order by var_name.sort

# #TUPLES

In [32]:
x = (40,41,42)
x

(40, 41, 42)

In [33]:
a,b,c=1,4,6
c

6

In [34]:
y = 50,51,52
y

(50, 51, 52)

In [35]:
list_1 = [x,y]
list_1

[(40, 41, 42), (50, 51, 52)]

# DICTONARIES AND ITS FUNDAMENTALS - EACH VALUE IS ASSOCIATED WITH A KEY

In [37]:

dict = {'k1':"cat",'k2':"dog",'k3':"mouse",'k4':"fish"}
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish'}

In [38]:
dict['k1']

'cat'

In [39]:
dict['k5'] = 'parrot'

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish', 'k5': 'parrot'}

In [2]:
#ITERATIONS - FOR LOOP

In [3]:
even = [0,2,4,6,8,10,12,14,16,18,20]

In [5]:
for n in even:
    print(n)

0
2
4
6
8
10
12
14
16
18
20

In [6]:
print (n, end =" ")

20

In [7]:
for n in even:
    print (n, end =" ")

0 2 4 6 8 10 12 14 16 18 20

In [8]:
#WHILE LOOP

In [9]:
x = 0
while x<=20:
    print(x, end = " ")
    x = x + 2

0 2 4 6 8 10 12 14 16 18 20

# range (start, stop, step)
# start = first number 
# stop = last value + 1
# step = distance between two consecutive values

In [11]:
range (10)

range(0, 10)

In [12]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
range(3,7)

range(3, 7)

In [14]:
list(range(3,7))

[3, 4, 5, 6]

In [15]:
range(1,20,2)

range(1, 20, 2)

In [16]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [21]:
for x in range (20):
    if x % 2 == 0:
        print(x, end=" ")
    else:
        print ("odd", end = " ")

0 odd 2 odd 4 odd 6 odd 8 odd 10 odd 12 odd 14 odd 16 odd 18 odd

In [22]:
x = [0,1,2]

In [23]:
for item in x:
    print(item, end =" ")

0 1 2

In [24]:
def count(numbers):
    total = 0
    for x in numbers:
        if x<20:
            total = total + 1
    return total

In [25]:
list_1 = [1,5,7,9,45,17,77,88,99,91]

In [26]:
count(list_1)

5

SyntaxError: invalid syntax (137608532.py, line 1)